<!DOCTYPE html>
<html lang="en">

<head>
    <style type="text/css">
        body {
            font-family: "Segoe UI", "Trebuchet MS", Arial, Helvetica, sans-serif;
        }

        #archives {
            border-collapse: collapse;
            width: 100%;
        }

        #archives td,
        #archives th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #archives tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #archives tr:hover {
            background-color: #ddd;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ark :: index</title>
</head>

<body>
    {{{body}}}
</body>

</html>